{% extends 'inventory/base.html' %}

{% block content %}

<br>

<div class="row">
    <div class="col-md">

        <!-- Accordion for filtering and creating new product -->
        <div id="accordion">
            <div class="card">
                <div class="card-header" id="headingTwo">
                    <h5 class="mb-0">
                        <h5>Products {{data}} : {{count}} </h5>
                        <div style="text-align:right; margin-top: -37px; margin-right: 65px;">
                            <p class="btn btn-info">
                                <a style="color: white; text-decoration: none;" href="{% url 'add_product' %}">Add New Product</a>
                            </p>
                        </div>
                        <button class="btn btn-link collapsed btn btn-success" style="color: white; text-decoration: none;" data-toggle="collapse" data-target="#collapseTwo"
                            aria-expanded="false" aria-controls="collapseTwo">
                            Apply Filters
                        </button>
                    </h5>
                </div>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                    <div class="card-body">
                        <!-- Filter Form -->
                        <div class="row">
                            <div class="col">
                                <div class="card card-body">
                                    <form method="get">
                                        {{filter.form}}
                                        <button class="btn btn-primary" type="submit">Search</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <br>

        <!-- Product Table -->
        <div class="card card-body">
            <table class="table">
                <tr>
                    <th>No</th>
                    <th>Product</th>
                    <th>Description</th>
                    <th>Category</th>
                    <th>Price</th>
                    <th>Stock Quantity</th>
                    <th>Supplier</th>
                    {% comment %} <th>Update</th>
                    <th>Delete</th> {% endcomment %}
                </tr>

                {% for i in products %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{i.name}}</td>
                    <td>{{i.description}}</td>
                    <td>{{i.category}}</td>
                    <td>{{i.price}}</td>
                    <td>{{i.stock_qty}}</td>
                    <td>{{i.supplier}}</td>
                    {% comment %} <td><a class="btn btn-sm btn-info" href="{% url 'edit_product' i.product_id %}">Update</a></td>
                    <td><a class="btn btn-sm btn-danger" href="{% url 'delete_product' i.product_id %}">Delete</a></td> {% endcomment %}
                </tr>
                {% endfor %}

            </table>
        </div>
    </div>
</div>

{% endblock content %}
